name: Badges

on:
  workflow_dispatch:
    inputs:
      twitter_handle:
        description: "Twitter handle"
        required: false

  # schedule:
  #   - cron: "0 9 * * *"

permissions:
  contents: write

jobs:
  updateBadges:
    name: "Update Badges"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update Twitter Badge
        id: twitter-badge
        if: github.event.inputs.twitter_handle != null
        uses: ./.github/actions/badges/twitter
        with:
          handle: ${{github.event.inputs.twitter_handle}}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
