name: Badges

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

jobs:
  updateTwitterBadge:
    name: "Update Twitter Badge"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: test
        uses: ./.github/actions/test
