name: Badges

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

jobs:
  updateBadges:
    name: "Update Badges"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update badges
        id: badges
        uses: ./.github/actions/badges

      - run: echo "The badges generated are ${{ steps.badges.outputs.urls }}"
