name: Wait

on:
  workflow_dispatch:

jobs:
  wait:
    name: wait action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3
      - name: wait
        uses: .github/actions/wait
        with:
          milliseconds: 3000